RewriteEngine On

# Allow access to assets folder
RewriteCond %{REQUEST_URI} ^/spk-retensi/assets/.*$ [NC]
RewriteRule ^ - [L]

# Redirect all other requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

# Set CORS headers for assets
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|svg|css|js|jpg|jpeg|png|gif|ico)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>
